.custom-scrollbar {
  /* fallback for browsers that support only webkit */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9234ea;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}
